@import 'tailwindcss';

@keyframes custom-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .custom-spin {
    animation: custom-spin 3s linear infinite; /* 5 seconds spin */
  }
